#loginpage {
	background-color : var(--c-bg);
}

.loginbackground {
	background-color : var(--c-bg);
	/* border : 2px solid var(--c-text); */
	border-radius : 3px;
	width : 250px;
	height : 220px;
	margin : 0 auto;
	display: flex;	
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginbackground p{
	margin-bottom : 10px;
	font-weight : 900;
	font-family: sans-serif;
}
.loginbackground input{
	width : 200px;
	height : 25px;
	margin : 5px 0 5px 0;
	border-radius : 3px;
	border : 0.5px solid var(--gray);
	padding :  0 5px;
	box-sizing : border-box;
}

.loginbackground input:focus{
	outline : 2px solid #02b4fc;
	border : 0;
}
.email{
	border : 2px solid var(--c-text);
	font-size : 10px;
}
.button1{
	cursor: pointer;
	background-color : rgba(13, 153, 255, 1);
	color : white;
	font-size : 8px;
}
.button2{
	cursor: pointer;
	background-color : white;
	color : black;
	font-size : 8px;

}
.password{
	font-size : 4px;
}