@charset "UTF-8";
h2.banner-title { font-size: 30px;}
hr { margin-bottom: 30px;}
/*tab*/
.tab .tab-list {
	position: relative;
	display: flex;
}

.tab .list {
	margin-top: 5px;
	width: 100%;
	border-bottom: 1px solid #e2e5eb;
}

.tab .list > a {
	display: inline-block;
	margin-right: 12px;
	padding: 0 0 16px;
	color: #777;
	font-size: 16px;
	font-weight: 700;
}

.tab .list > a.on {
	color: var( --c-tour);
	border-bottom: 3px solid var( --c-tour);
} 

.tab .list > a > span {
	position: relative;
    top: 4px;
    font-size: 20px;
    padding-right: 5px;
}

.tab-content {
	margin-top: 10px;
	height: 100%;
}

.tab-content .content {
	display: none;
}

.tab-content .content.on {
	
	display: block;
}





.profile-content {
	max-width: 250px;
	margin: 30px auto;
	height: 300px;
	border-radius: 10px;
	background-color:  #022C6C;
	color: #fff;
	display: flex;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.img-box {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin: 20px;
    overflow: hidden;
}

.img-box img {object-fit: cover; width: 100px; height: 100px;}

.profile-content ul {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.profile-content ul li p {
	font-family: 'TheJamsil2Light';
}

.profile-content ul li em {
	font-family: 'TheJamsil5Bold';
	font-size: 30px;
	padding: 10px 0;
	display: block;
}

.profile-content ul li a {
	color: #fff;
	display: block;
	padding-top: 30px;
	transition: all .3s;
}

.profile-content ul li a:hover {
	color: var(--c-subway);
}



ul.viewer-list li { list-style:none;  position:relative; float:left; width:calc(100%/3 - 12px); margin:12px 6px 0; }
.viewer-list .viewer-box { box-sizing: border-box; padding: 30px;}    
.viewer-list .viewer-box img:first-of-type { position: absolute; left: 50%; top: 50%; width: 100%; height: 100%; object-fit: cover; transform: translate(-50%, -50%);}




.viewer-list { display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 10px;}
.viewer-list li { width: 45%;}
.viewer-list .tumb { height: 100px; overflow: hidden; position: relative; box-shadow: 0px 0px 4px rgba(45, 54, 61, 0.25); border-radius: 10px;}
.viewer-list .tumb-title { display: flex; width: 100%; justify-content: space-between; padding: 13px 0;}
.viewer-list p { padding-top: 10px; font-size: 14px; font-weight: 700; font-family: 'TheJamsil2Light'; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}















