@charset "UTF-8";
/* style 초기화 */
* { margin:0; padding:0;}
body{ min-width: 300px; font-size: 16px; line-height: 1; font-family: "Roboto", "Noto Sans KR", sans-serif; word-break: kepp-all; color: var(--c-text); overflow-x: hidden;}
a { text-decoration: none; color: var(--c-text);}
em{ font: inherit; vertical-align: baseline;} 
img { width: 100%;}
button { cursor: pointer;}
.wrap { max-width: 700px; margin: 0 auto;}
.content-wrap { padding-top: 50px; max-width: 580px; margin: 0 auto;} 
.box-wrap { max-width: 580px; margin: 0 auto;}
li{list-style:none;}

/* color */
body {
  --c-bg: rgba(255, 255, 255, 1);
  --c-bg-sub: rgba(255, 255, 255, 1);
  --c-content: rgba(247, 249, 251, 1);
  --c-white-text: rgb(255, 255, 255);
  --c-text: rgb(31, 31, 31);
  --c-white-text: rgb(255, 255, 255);
  --c-tour: rgba(13, 153, 255, 1);
  --c-tour-w: rgba(13, 153, 255, 1);
  --c-subway: rgba(246, 151, 21, 1);
  --c-dens: rgba(75, 75, 75, 1);
  --gray: rgba(161, 161, 161, 1);
  --gray2: rgba(99, 99, 102, 1);
  --gray3: rgba(72, 72, 74, 1);
  --gray4: rgba(58, 58, 60, 1);
  --gray5: rgba(44, 44, 46, 1);
  --gray6: rgba(28, 28, 30, 1);
  --footer: rgba(244, 246, 248, 1);
}

body.dark {
  --c-bg: rgba(30, 30, 32, 1);
  --c-bg-sub: rgb(53, 52, 57);
  --c-text: rgba(244, 244, 244);
  --c-white-text: rgb(0, 0, 0);
  --c-tour: rgba(56, 60, 69, 1);
  --c-tour-w: rgba(227, 236, 245, 1);
  --c-subway: rgba(56, 60, 69, 1);
  --c-dens: rgba(56, 60, 69, 1);
  --c-content: rgba(41, 42, 44, 1);
  --gray: rgba(142, 142, 147, 1);
  --gray2: rgba(174, 174, 178, 1);
  --gray3: rgba(199, 199, 204, 1);
  --gray4: rgba(209, 209, 214, 1);
  --gray5: rgba(229, 229, 234, 1);
  --gray6: rgba(242, 242, 247, 1);
  --footer: rgba(67, 67, 67, 1);
}

body {background-color: var(--c-bg);}
body.he { height: 1000px;}
.footer-box { margin-top: 400px;}

/* 눈누폰트 */
/* 평창평화체 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 나눔손글씨펜 */
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.nanumpenscript * { font-family: 'Nanum Pen Script', cursive;}
/* 더잠실체 */
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.wrap { max-width: 700px; margin: 0 auto;}
.box-wrap { max-width: 580px; margin: 0 auto;}
.content-wrap { padding-top: 50px; max-width: 580px; margin: 0 auto;} 

/* login-popup 공통 스타일 */
.shadow-bg {  position: fixed;  background-color: #000; opacity: 0;  width: 100vw; height: 100vh; top: 0; left: 0; z-index: 1; visibility: hidden; opacity: 0; transition: all .3s;}
.shadow-bg.show {visibility: visible; opacity: 0.6;}
.login-popup-content { position: fixed; z-index: 2; background-color: aliceblue; width: 200px; height: 100px; padding: 20px; border-radius: 10px; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: hidden; opacity: 0; transition: all .3s;}
.login-popup-content.show { visibility: visible; opacity: 1;}
.login-popup-content em { font-size: 15px; line-height: 19px; background-color: #F5F5F5;}
.login-popup-content p {  font-size: 8px; color: #8D8D8D; padding: 15px 0;}
.login-popup-content a { background-color: #4B4B4B; width: 100px; height: 25px; display: flex; justify-content: center; align-items: center; margin: 0 auto; border-radius: 30px; color: #fff; font-size: 10px; transition: all .3s;}
.login-popup-content a:hover { background-color: var(--c-tour); }
.login-popup-content span { position: absolute; top: 10px; right: 10px; color: #4B4B4B; cursor: pointer;}

/* login-popup 공통 html

<div class="login-popup">
    <div class="shadow-bg"></div>
    <div class="login-popup-content">
      <em>로그인이 필요한<br>서비스 입니다.</em>
      <p>로그인 하시겠습니까?</p>
      <a href="#">로그인</a>
      <span class="material-symbols-outlined">close</span>
    </div>
  </div>

 */
 
/* banner 글씨체 */
.banner-sub {padding-top: 50px; font-family: 'TheJamsil2Light'; line-height: 17px; font-size: 14px; color: rgb(235 235 235);}
.banner-title {font-family: 'TheJamsil5Bold'; font-size: 40px; padding-bottom: 20px;}
 
/* 검색결과 없음 */
.none-result { width: 500px; margin: 0 auto; display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column; align-content: center; align-items: center;}
.none-result img { width: 200px; display: block; padding-bottom: 20px;}
.none-result em {font-family: 'TheJamsil5Bold'; font-size: 20px; padding-bottom: 20px;}
.none-result p { font-family: 'TheJamsil2Light'; line-height: 18px;}
@media (max-width: 500px) {
    .none-result {
        width: 300px;
    }
    .subway-form  {
    	max-width: 300px;
    }
}

/* 
<div class="none-result">
    <img src="<c:url value="/resources/img/none_result.png"/>" alt="검색결과없음">
    <em>검색 결과가 없어요.</em>
    <p>
        ㆍ키워드를 정확하게 입력하셨는지 확인해보세요.<br>
        ㆍ지하철 역명으로 검색해보세요. (예: 서울 -> 서울역)
    </p>
</div> 
*/
