@charset "UTF-8";


/* header */

html.fixed { position: fixed; overflow-y: scroll; width: 100%;}
#header { width: 100%; height: 48px; background-color: var(--c-bg); box-shadow:0px 0px 5px 1px rgb(237, 238, 243); position: relative; z-index : 10000;}

body.dark #header { box-shadow:0px 0px 5px 1px rgb(55, 55, 57);}
#header .header-wrap { max-width: 700px; margin: 0 auto; height: 100%; display: flex; align-items: center; height: 100%; justify-content: space-around; position: relative;}

/* logo */
#header .logo { width: 150px; position: relative;}
#header .logo img { position: absolute; transform: translate(0, -50%);}
#header .logo-dark { opacity: 0;}
body.dark #header .logo-dark { opacity: 1;}

/* access */
#header .accbtn { width : 40px; border: 0; display: inline-block;}
#header .bg {  position: fixed;  background-color: #000; opacity: .6;  width: 100vw; height: 100vh; top: 0; left: 0; z-index: 1;}
#header .access { position: absolute; top: calc(100% + 10px); width: 250px; height: 290px; border-radius: 10px; padding: 15px; box-sizing: border-box;  box-shadow: 0px 0px 10px 3px rgba(38, 47, 124, 0.15); background-color: var(--c-bg-sub); visibility: hidden; opacity: 0; transition: all .3s;}
#header .access.show {visibility: visible; opacity: 1;}
#header .access h3 { font-size: 16px; font-weight: 700;}
#header .popup  { position: relative;}
#header .popup .close { position: absolute; top: 0; right: 0;}
#header .popup-con { border-radius: 10px; border: 1px solid var(--c-tour); width: 200px; height: 60px; margin: 20px auto;}
#header .popup-con:hover { background-color: var(--c-tour); color: var(--c-white-text);}
#header .popup-con:hover a { color: var(--c-white-text);}
#header .zoom a > img { width: 30px;}
#header .popup-con em { display: block; text-align: center; padding-top: 10px; font-size: 14px;}
.zoom { padding-top: 2px; display: flex; justify-content: space-evenly; align-items: center} 
#header .popup-con > a { width: 100%; line-height: 60px; display: block; text-align: center;}

/* menu */
/* menu button */
#header > .header-wrap > ul > li:last-child { position: relative;}




#header a.menu {position: relative; width: 24px; height: 16px; display: inline-block;}
#header a.menu::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 100%; height: 3px; background-color: var(--gray5); transition: all 0.3s; border-radius: 10px;}
#header a.menu span {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 3px; background-color: var(--gray5); 
overflow: hidden;
text-indent: -999px; transition: all 0.3s; border-radius: 10px;}
#header a.menu::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 100%; height: 3px; background-color: var(--gray5); transition: all 0.3s; border-radius: 10px;}
#header a.menu.close::before {transform: translate(-50%, -50%) rotate(30deg); top: 50%; width: 120%;} 
#header a.menu.close span {opacity: 0;}
#header a.menu.close::after {transform: translate(-50%, 50%) rotate(-30deg); bottom: 50%; width: 120%;} 



/* menu */
/* gnb */
#gnb { overflow: auto; position: absolute; height: 100vh; top: calc(100% + 1px); visibility: hidden; transition: left .5s ease-in-out; background-color: var(--c-bg); padding: 20px; right: 0;}
#gnb.open { visibility: visible; left: 0;}
#gnb .gnb-box { padding-top: 10px; box-sizing: border-box; width: 400px; margin: 0 auto; height: 100%;}
#gnb .gnb-box > li { font-size: 20px; font-weight: 700; position: relative;}
#gnb .gnb-box > li > a { display: inline-block; width: 100%; padding-top: 30px;}
#gnb .gnb-box > li:not(.not) a { padding: 20px 0;}
#gnb .gnb-box > li:not a { padding-bottom: 20px;}
#gnb .gnb-box > li:not(.not)::before { content: ''; position: absolute; width: 0; transition: all .3s; height: 2px; background-color: var(--c-tour); bottom: 0;}
#gnb .gnb-box > li:not(.not):hover::before { width: 100%;}
#gnb .gnb-box > li:not(.not) a:hover,
#gnb .gnb-box > li > ul > li > a:hover { color: var(--c-tour); font-weight: 700;}
#gnb .gnb-box > li > ul > li:first-child{ padding-top: 30px;}
#gnb .gnb-box > li > ul > li { font-size: 18px; font-weight: 400;}
#gnb .gnb-box > li > ul > li > a { display: block; padding-left: 10px; padding-bottom: 20px; position: relative;} 
.menu-bg { position: absolute; top: calc(100% + 1px); width: 100vw; height: 100vh; background-color: var(--c-bg);  display: none;}
.menu-bg.show { display: block;}




