@charset "UTF-8";


.totalSearch { width : 100%; height : 240px; background-color : var(--c-tour); margin-top : 10px; margin : 0 auto;}
.title { max-width: 500px; margin: 0 auto; color: white;}
@media (max-width: 600px) {
	.title { box-sizing: border-box; padding: 10px;}
}

/* 관광지검색 */
.searchbox { position: relative;}
.bar { width : 100%; height : 35px; border-radius: 10px; border: 0;  z-index : 10003; padding: 0 40px 0 10px; box-sizing: border-box;}
.search-btn { position: absolute; right: 10px; background-color: inherit; border: 0; top: 50%; transform: translate(0, -50%); color: rgba(161, 161, 161, 1);}
.bar:hover { box-shadow: 0px 0px 0px 5px rgba(13, 153, 255, 0.1);}
.bar:focus { border: 1px solid var(--c-tour);}

/* 교통약자 맞춤검색 */
.box { margin: 15px auto; position: relative; max-width: 500px; border-radius: 10px; box-shadow: 0px 0px 4px rgba(33, 126, 213, 0.25); padding: 10px; box-sizing: border-box;}
.searchBar { display : flex;}







.searchButton { display : flex;}
.searchButton button {margin: 30px auto; background-color: black; color: white; width: 150px; height: 50px; border: 0; border-radius: 6px; cursor: pointer; font-size : 20px; font-weight: 600;}


.SeoulLocal {
	margin: 0 auto;
    width: 380px;
    height: 30px;
    font-size: 10px;
    background-color: var(--c-bg);
    border-color: var(--c-text);
    color: var(--c-text);
    border-radius: 3px;
    FONT-SIZE: 15PX;
}
.iconsearch {
	display : flex;
}
.iconsearch div {
	margin : 20px auto 20px auto;
	cursor:pointer;
}




.menu_icon1[type=checkbox] {
	width : 60px;
	height : 60px;
	display : none;
}

.menu_icon1[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 8.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}

.menu_icon1[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 1.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}



.menu_icon6[type=checkbox] {
	width : 90px;
	height : 90px;
	display : none;
}
.menu_icon6[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 5.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}
.menu_icon6[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 2.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}



.menu_icon5[type=checkbox] {
	width : 90px;
	height : 90px;
	display : none;
}
.menu_icon5[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 7.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}

.menu_icon5[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 3.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}



.menu_icon2[type=checkbox] {
	width : 90px;
	height : 90px;
	display : none;
}
.menu_icon2[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 6.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}
.menu_icon2[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 4.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}

.hiddenbox {
	width : 100px;
	height : 20px;
	background-color : black;
}



/* 검색 결과 */
.tourresult {display: flex; max-width: 500px; flex-wrap: wrap; justify-content: center; margin: 0 auto;}
.tourlist { height: 330px; width: 45%; margin: 10px auto; border-radius: 10px; border: 1px solid #d0d0d0; box-shadow: 0px 0px 4px rgba(33, 126, 213, 0.25); overflow: hidden; background-color: var(--c-bg);}
@media (max-width: 600px) {
	.tourlist { width: 55%;}
	.searchBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
	.iconsearch div {
	    margin: 20px auto 20px auto;
	    cursor: pointer;
	    width: 50%;
	    display: flex;
	    justify-content: center;
	}
	.iconsearch {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.box {
	    max-width: 350px;
	} 
}




.tourimg {
	width : 100%;
	height : 50%;
	background-position: center;
	background-size: cover;
	position: relative;
}
.tourimg > .heart-box {
	position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border-radius: 40px;
    margin: 5px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    color: #5c5c5c;
}

.heart-box span {
    font-size: 18px;
    color: #5c5c5c;
    padding-right: 5px;
}

.tourimg:hover > .heart-box span {
	color: #ff6363;
}

.text1 {
	padding-top: 10px;
	font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.text2 {
	font-size: 14px;
    padding-top: 10px;
}
.menu_icon {
	    display: flex;

    margin-left: 5px;

    position: relative;
    top: 30px;
    justify-content: flex-start;
}
.menu_icon img {
	width : 40px;
	border: 1px solid #efefef;
}

.tourlist img {
	margin : 0 3px 0 3px;
}
.tourtext {
	padding: 10px 10px;
}

.js-load { display: none;}
.js-load.active { display: block;}
.js-load:after { display: none;}
.btn-wrap { display: block;}

.reviewbutton{
	display: block;
    margin: 0 auto;
    width : 500px;
    height : 40px;
    border : 0;
    background-color: inherit;
    font-size: 14px;
    transition: all 03s;
}








