@charset "UTF-8";

.box {
	margin : 0 auto;
	position : relative;
	max-width: 700px;
	padding-top : 30px;
}

.search {
	background-color: var(--c-bg);
    width: 500px;
    height: 300px;
    margin: 0px auto;
    border-radius: 20px;
}


.searchBar {
	display : flex;
}

.seaerchbox {
	width : 400px;
	margin : 0 auto;
}

.searchbox button {
	width : 45px;
	height : 22px;
	background-color : white;
	font-size : 10px;
	border : 0;
	border-radius : 3px;
}
.searchBar span {
	margin: auto 4px auto auto;
    font-size: 17px;
}

.searchButton {
	display : flex;
}

.searchButton button {
	margin: 30px auto;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    
    font-size : 20px;
    font-weight: 600;
}

.SeoulLocal {
	margin: 0 auto;
    width: 380px;
    height: 30px;
    font-size: 10px;
    background-color: var(--c-bg);
    border-color: var(--c-text);
    color: var(--c-text);
    border-radius: 3px;
    FONT-SIZE: 15PX;
}
.iconsearch {
	display : flex;
}
.iconsearch div {
	margin : 20px auto 20px auto;
	cursor:pointer;
}




.menu_icon1[type=checkbox] {
	width : 60px;
	height : 60px;
	display : none;
}

.menu_icon1[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 8.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}

.menu_icon1[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 1.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}



.menu_icon6[type=checkbox] {
	width : 90px;
	height : 90px;
	display : none;
}
.menu_icon6[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 5.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}
.menu_icon6[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 2.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}



.menu_icon5[type=checkbox] {
	width : 90px;
	height : 90px;
	display : none;
}
.menu_icon5[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 7.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}

.menu_icon5[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 3.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}



.menu_icon2[type=checkbox] {
	width : 90px;
	height : 90px;
	display : none;
}
.menu_icon2[type=checkbox] + label {
	display: inline-block; 
	cursor: pointer;  
	background: url('../../../resources/img/icons/Group 6.png');
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}
.menu_icon2[type=checkbox]:checked + label { 
	background: url('../../../resources/img/icons/Group 4.png'); 
	background-position: center;
	background-size: cover ;
	width : 90px;
	height : 90px;
}

.hiddenbox {
	width : 100px;
	height : 20px;
	background-color : black;
}

.totalSearch {
	width : 100%;
	height : 160px;
	background-color : var(--c-tour);
	margin-top : 10px;
	margin : 0 auto;
}

.title {
	width: 500px;
    margin: 0 auto;
    padding-top: 30px;
    color: white;
}
.title h3 {
	font-size : 7px;
}
.title h1 {
	margin-top : 14px;
}
.title input {
	margin-top : 20px;
}

.bar {
	width : 445px;
	height : 19px;
	z-index : 10003; 
}
.searchbackground {
	margin: 0 auto;
    width: 600px;
    height: 100%;
    background-color: var(--c-content);
}

.tourresult {
	display : grid;
	justify-content: center;
	grid-template-columns: 265px 265px;
	
}

.tourlist {
	width: 230px;
    height: 330px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    box-shadow: 0px 0px 4px rgba(33, 126, 213, 0.25);
    overflow: hidden;
    background-color: var(--c-bg);
}
.tourimg {
	width : 100%;
	height : 50%;
	background-position: center;
	background-size: cover
}
.text1 {
	font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.text2 {
	font-size: 14px;
    margin-top: 5px;
}
.menu_icon {
	display : flex;
	position : absolute;
	margin-left : 5px;
}
.menu_icon img {
	width : 40px;
	height : 40px;
}

.tourlist img {
	margin : 0 3px 0 3px;
}
.tourtext {
	padding: 10px 10px;
}

.js-load { display: none;}
.js-load.active { display: block;}
.js-load:after { display: none;}
.btn-wrap { display: block;}

.reviewbutton{
	display: block;
    margin: 0 auto;
    width : 500px;
    height : 40px;
    border : 0;
    background-color:var(--c-tour);
    color : white;
    font-size : 20px;
    border-radius : 10px;
}
