@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

.title {
	font-size : 30px;
	font-weight: 600;
	text-align: center;
}
.subtitle{
	font-size : 15px;
	color : gray;
	font-weight: 400;
	text-align: center;
	margin-top : 20px;
}
.sidebar {
	display : flex;
	justify-content: center;
	margin-top : 40px;

}

.sidebar li {
	width : 125px;
	height : 30px;
	line-height : 30px;
	border-top : 1.1px solid #E2E2E2;
	border-bottom : 1.1px solid #E2E2E2;
	text-align: center;
	font-size : 11px;
	position: relative;
	
}


.sidebar li::before {
	content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #E2E2E2;
 	top: 30%;
}

.sidebar li a {
	display : block;
	width : 100%;
	position: relative;
	transition: all 0.3s;
}

.sidebar li:hover a {
	color: var(--c-tour);
}


.sidebar li:hover a::after  {
	opacity: 1;
	color: var(--c-tour);
}

.sidebar li a::after {
	content: "";
	opacity: 0;
    position: absolute;
    width: 100%;
    height: 1.2px;
    background-color: var(--c-tour);
    bottom: 0;
    right: -50%;
    transform: translate(-50%, 0);
    transition: all 0.3s;
}
.on {color: var(--c-tour)}


.sidebar li:last-child::before {
	display: none;
}

.tourimg {
	margin : 20px auto;
	
	background-size: cover;
    background-repeat: no-repeat
}

.line {
	width : 500px;
	margin-top : 3px;
	margin-bottom : 20px;
	height : 1px;
	background-color : black;
}
.line2 {
	width : 470px;
	height : 1px;
	background-color : black;
	margin-bottom : 20px;
	margin-top : 3px;
}

#detail2{
	height: 650px;
}
.content {
	width : 500px;
	height :300px;
	margin : 0 auto;
}

.tourlistContent {
	font-size : 5px;
	line-height : 15px;
}

.detailcontent{
	display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.detailcontent1{
	width : 50%;
	height : 100px;
	
	font-size : 10px;
	flex-grow: 1.5;
    box-sizing: border-box;
    padding-right: 20px;
    
    line-height : 15px;
}

.detailcontent1 div {
	font-size : 10px;
	margin : 10px 0 10px 0;
}

.detailcontent1 div::before {
	content : "•   "
}

.detailcontent2 div::before {
	content : "•   "
}

.detailcontent2 div {
	font-size : 10px;
	margin : 10px 0 10px 0;
}

.tourstory{
	display:flex;
	width : 500px;
	height : 100px;
	margin : auto auto 0 auto;
}
.subtitletour {
	font-size : 15px;
	color : gray;
	font-weight: 400;
	margin-top : 10px;
}
.titletour{
	font-size : 20px;
	font-weight: 600;
}

	
.tourstory button {
	background-color : var(--c-tour);
	color : white;
	height : 50px;
	width : 200px;
	border : none;
	border-radius : 9px;
	font-size : 17px;
	font-weight : 500px;
}

.tourname {
	height : 100px;
	width : 300px;
}

#detail3 {
	height: 600px;
}

.comment {
	width : 465px;
	height : 130px;	
	background-color : #E2E2E2;
	margin : 0 auto;
	padding : 20px 20px;
}

.commenttitle {
	font-size: 17px;
    font-weight: 600;
}

.commenttitle span {
	font-size:12px;
	color : gray;
}

.commentmain {
	width : 460px;
	height: 50px;
	padding : 5px 5px;
	display : block;
	margin : 0 auto;
	border : 0;
	font-size : 10px;
}
.commentbutton button{
	width : 100px;
	height : 30px;
	background-color : var(--c-tour);
	color : white;
	border : 0;
	margin-top: 10px;
	
	float: right;
}
.commentimg img{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit : cover;
}

.commentimg{
	width: 50px;
    height: 50px;
    overflow:hidden;
}
.usercomment{
    display: flex;
    width: 500px;
    margin: 20px auto;
    border-bottom: 1.5px solid #E2E2E2;
    height: 80px;
}
.commentContent{
	margin-left: 17px;
	margin-top: 10px;
	font-size : 12px;
}
.commentday{
	display:flex;
	margin-top:10px;
}
.commentday p{	
	margin-left : 10px;
	margin-right : 10px;
	color
}
.commentcn{
	margin-left : 10px;
}
.commentcn p {
	font-size:14px;
}

.commentcontent{
	color:gray;
}
.subbutton {
    margin-top: 32px;
    font-size: 12px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.textcontent{
	margin: 0 auto;
    display: block;
    width : 500px;
    height : 100px;
}

.modbutton{
	width: 100px;
    height: 30px;
    background-color: var(--c-tour);
    color: white;
    border: 0;
    margin-top: 10px;
    display: block;
    margin-left: 404px;
}
.bookmark{
	width: 60px;
    text-align: left;
}

.fa-bookmark{
	font-size : 25px;
    cursor: pointer;
     border: 0;
     background-color: transparent;
}

.buttonicon{
	display : flex;
	justify-content: flex-end;
	margin-top : 20px;
	margin-bottom : -20px;
}

.heart{
	width : 50px;
	text-align: left;
}


.fa-heart{
	font-size: 25px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
