@charset "UTF-8";

/* tourreview  */
#tourreview  h4 { font-size: 30px; padding-bottom: 30px; }
#tourreview .review-tumb { margin-top: 40px;}
#tourreview .write-btn-box { display: flex; align-items: center; border-bottom: 3px solid var(--c-tour); width: 80%; margin: 0 auto; justify-content: space-between;}
#tourreview .write-btn { width:35px; height: 35px; border: 1px solid var(--c-tour); background: var(--c-bg); box-shadow: 0px 0px 4px rgba(45, 54, 61, 0.25); border-radius: 50%; display: flex; justify-content: center; align-items: center;  align-items: center; transition: all .3s;}
#tourreview .write-btn span { color: var(--c-tour);} 
#tourreview .write-btn:hover { background-color: var(--c-tour);}
#tourreview .write-btn:hover span { color: #fff;}
#tourreview .review-tumb ul {display: flex; flex-wrap: wrap;}
#tourreview .review-tumb ul li:first-child { margin-top: 40px;}
#tourreview .review-tumb ul li { width: 400px; margin: 20px auto;}
#tourreview .tumb { width: 400px; height: 240px; overflow: hidden; box-shadow: 0px 0px 4px rgba(45, 54, 61, 0.25); border-radius: 10px;}
#tourreview .tumb-title { display: flex; width: 100%; justify-content: space-between; padding: 13px 0;}
#tourreview .tumb-title em { font-size: 18px; font-weight: 700;}

#tourreview .js-load { display: none;}
#tourreview .js-load.active { display: block;}
#tourreview .js-load:after { display: none;}
#tourreview .btn-wrap { display: block;}
#tourreview ul li { list-style:none;  position:relative; float:left; width:calc(100%/3 - 12px); margin:12px 6px 0; }
#tourreview .more { background-color: var(--c-tour); width: 80%; display: flex; justify-content: center; align-items: center; margin: 0 auto; color: #fff; height: 50px; margin-bottom: 50px; border-radius: 20px; border: 0; font-size: 16px;}



#writeform .title input { width: 100%; height: 50px; font-size: 30px; box-sizing: border-box; outline: none; border-bottom: 4px solid rgba(209,214,231,1); border-top: none; border-left: none; border-right: none; margin-bottom: 10px;}
#writeform .title input::placeholder { font-size: 30px; color: rgba(209,214,231,1);}
#writeform .submit-btn {     margin: 40px auto;
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--c-tour);
    color: #fff;
    border: 0;
    font-weight: 700; cursor: pointer;}
    
    
    
    
    
 #writeform .tumb-container   {    margin-top: 20px;
    border: 1px solid rgba(209,214,231,1);
    border-radius: 20px;
    overflow: hidden;}
    
    .plus-text {text-align: center;
    line-height: 20px; color: rgba(157 161 173);}
    
    .plus-box span {
    	display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(209,214,231,1);
    }
    
    .plus-box span a {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: var(--c-tour);
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;}
    